{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block head_extra %}
{{ form.media }}
{% endblock %}

{% block content %}
<div class="col-sm-6">
	<h1>Preview</h1>
	<div class="content-preview">
		<h3 id="preview-title">
			
		</h3>
		<div id="preview-content">
			
		</div>
	</div>
</div>
<div class="col-sm-6">
    <h1>Form</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} <div>
        	{{ form|crispy }}
        </div>
        <input type="submit" value="Create Post">
    </form>
</div>
{% endblock %}
