    <div>
    <h1>{{ title }}</h1>
    <button ng-click='someClickTest()'>Click me!</button>
</div>
<h1 ng-hide="searchQuery">Blog List <small><a href="#" ng-click="changeCol()">Change</a></small></h1>
<h1 ng-show='searchQuery'>Result for {{query}}</h1>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <input type="text" ng-model="query" class="form-control" placeholder="Filter">
            </div>
            <div class="col-sm-6">
                <select name="" id="" ng-model="order" class="form-control">
                    <option value="-publishDate">Recent</option>
                    <option value="publishDate">Older</option>
                    <option value="title">A-Z</option>
                    <option value="-title">Z-A</option>
                </select>
            </div>
        </div>
        <dir-pagination-controls ng-hide="query.length > 0" pagination-id="sub-content"></dir-pagination-controls>
    </div>
</div>
<br>
<!-- <ul ng-if="items.length > 0">
    <li ng-repeat="i in items">
        <a href="#" ng-click ="goToItem(i)"/>{{ i.title }}</a>
        <a href="/blog/{{i.id}}" ng-click="goToItem(i)" confirm-click="are you sure" confirmed-click="/blog/{{i.id}}" />{{ i.title }}</a>
        <confirm-click message="are you positive" eq="10 + 1000" post="i"></confirm-click>
    </li>
</ul> -->
<div class="col-sm-6 col-sm-offset-3" dir-paginate="i in items | orderBy: order | filter: query | itemsPerPage:5 as postItems" pagination-id="sub-content">
    <div class="thumbnail">
        <img ng-src="{{ i.images }}" alt="...">
        <div class="caption">
            <h3>{{ i.title }}</h3>
            <p>{{ i.title }} {{ i.description }}</p>
            <h1>{{ i }}</h1>
            <p> <a href="/blog/{{i.slug}}" ng-click="goToItem(i)" confirm-click="are you sure" confirmed-click="/blog/{{i.slug}}" />{{ i.title }}</a><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
    </div>
</div>
<!-- <span ng-if="postItems.length == 0">No item found</span>
<span ng-if="items.length==0">Comming Soon</span>
<div class="row" dir-paginate="items in colItems | itemsPerPage:2 | filter:query" pagination-id="main-content">
    <div class="{{ cssClass }}" ng-repeat="i in items">
        <div class="thumbnail">
            <img ng-src="{{ i.images }}" alt="...">
            <div class="caption">
                <h3>{{ i.title }}</h3>
                <p>{{ i.title }} {{ i.description }}</p>
                <p> <a href="/blog/{{i.id}}" ng-click="goToItem(i)" confirm-click="are you sure" confirmed-click="/blog/{{i.id}}" />{{ i.title }}</a><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
<dir-pagination-controls ng-hide="query.length > 0" pagination-id="main-content"></dir-pagination-controls> -->
<!-- <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="i in items">
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>{{ i.title }}</h3>
                <p>{{ i.title }} {{ i.description }}</p>
                <p> <a href="/blog/{{i.id}}" ng-click="goToItem(i)" confirm-click="are you sure" confirmed-click="/blog/{{i.id}}" />{{ i.title }}</a><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
 -->
